.restaurants {
  background-color: #fafafa;
}

.nommer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}

.titre--restau {
  grid-column-start: -1;
}

.plat1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.plat2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.plat3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.plat4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

@media screen and (max-width: 767px) {
  .fonct {
    display: block !important;
    margin: 0;
    height: unset !important;
  }

  .nommer {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonct {
    display: block !important;
    margin: 0;
    height: unset !important;
  }

  .fonct_ctnr {
    width: unset !important;
    justify-content: flex-start !important;
  }

  .nommer {
    display: block;
  }
}
@media screen and (min-width: 1023px) {
  .fonct {
    flex-wrap: unset !important;
  }

  .fonct_ctnr {
    justify-content: center !important;
  }

  .fonct_ctnr--guide {
    font-size: unset !important;
  }
}
.btn {
  margin: 4rem 0 3.5rem 0;
  border-radius: 2rem;
  border: 2rem;
  box-shadow: 3px 3px 3px #9e9a9a;
  font-size: 1.6rem;
  color: whitesmoke;
  padding: 0.9rem;
  background-color: #ffff;
  background-image: linear-gradient(134deg, #FF79DA, #9356DC);
  cursor: pointer;
  transition-duration: 0.2s;
}

/*fonctionnement*/
.fonct_ctnr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  height: 35px;
  width: 290px;
  padding: 12px 0;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px grey;
  background: #fafafa;
}

.ctnr_plat--nv {
  border-radius: 3px;
  background-color: #99E2D0;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #12bd37;
}

.titre--restau {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px 0;
}

.ctnr_plat--coeur {
  position: absolute;
  transform-origin: bottom;
  opacity: 1;
  font-size: 23px;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.ctnr_coeur--color {
  position: absolute;
  transform-origin: bottom;
  opacity: 0;
  font-size: 24px;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.fonct_ctnr--chiffre {
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 4px 9px 4px 9px;
  margin: 0 1.5rem 0 -12px;
}

.ctnr_plat {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 300px;
  border-radius: 1.5rem;
  box-shadow: 3px 8px 8px grey;
  margin: 0 0 3rem 0;
}

.ctnr_plat--img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.ctnr_plat--info {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  height: 74px;
  color: black;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

.fa-gradient {
  background: linear-gradient(45deg, #9356DC, #FF79DA);
}

.logo {
  text-align: center;
  font-size: 30px;
  border-bottom: 7px solid #f1f1f1;
}

.logo_img {
  width: 200px;
}

/*reservation*/
.lclst {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #fafafa;
}

.lclst_icone {
  display: inline-flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 15px 0;
}

.lclst_icone--i {
  margin-right: 10px;
}

.lclst_reserve--t {
  font-size: 24px;
  font-weight: 700;
}

.lclst_reserve--d {
  font-weight: normal;
}

/*fonctionnement*/
.fonct {
  width: 100%;
  height: 8rem;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fonct_ctnr--i {
  font-size: 20px;
  color: grey;
}

.fonct_ctnr--guide {
  font-size: 20px;
  font-weight: bold;
}

.fonct--ttr {
  font-size: 24px;
  padding-left: 45px;
  padding-top: 5px;
}

/*menilmontant*/
.carte_aff {
  width: 100%;
  height: 30rem;
}

footer {
  background-color: #444343;
  text-decoration: none;
}

.ftimg {
  color: white;
}

.ftimg_contacte {
  display: flex;
  align-items: center;
  color: #fff;
}

ul {
  list-style: none;
  color: #fff;
  padding: 0;
}

.leg {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
