body {
  font-family: "roboto", sans-serif;
}

.restaurants {
  background-color: #fafafa;
}

.nommer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}

.titre--restau {
  grid-column-start: -1;
}

.plat1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.plat2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.plat3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.plat4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

@media screen and (max-width: 767px) {
  .fonct {
    display: block !important;
    margin: 20px auto !important;
    height: unset !important;
  }

  .fonct_ctnr {
    padding: 12px 4px 12px 0px !important;
  }

  .nommer {
    display: block !important;
  }

  /*menilmontant*/
  .carte {
    bottom: 120px;
  }

  .box {
    position: unset !important;
    margin-top: 40px;
  }

  .fa-heart {
    font-size: 30px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonct {
    display: block !important;
    margin: 0;
    height: unset !important;
  }

  .fonct_ctnr {
    width: unset !important;
    justify-content: flex-start !important;
  }

  .nommer {
    display: block;
  }

  /*menilmontant*/
  .carte {
    bottom: 120px;
  }

  .box {
    position: unset !important;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1023px) {
  .fonct {
    flex-wrap: unset !important;
  }

  .fonct_ctnr {
    justify-content: center !important;
  }

  .fonct_ctnr--guide {
    font-size: unset !important;
  }

  /*menilmontant*/
  .carte {
    bottom: 120px;
  }

  .box {
    position: unset !important;
    margin-top: 50px;
  }
}
.btn {
  margin: 4rem 0 3.5rem 0;
  border-radius: 2rem;
  border: 2rem;
  box-shadow: 3px 3px 3px #9e9a9a;
  font-size: 1.6rem;
  color: whitesmoke;
  padding: 0.9rem;
  background-color: #ffff;
  background-image: linear-gradient(134deg, #FF79DA, #9356DC);
  cursor: pointer;
  transition-duration: 0.2s;
}

/*fonctionnement*/
.fonct_ctnr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  height: 35px;
  width: 290px;
  padding: 12px 0;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px grey;
  background: #fafafa;
}

.ctnr_plat--nv {
  border-radius: 3px;
  background-color: #99E2D0;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #12bd37;
}

/*menilmontant*/
.diff_btn {
  height: 60px;
  width: 210px;
  margin: 30px auto;
  border-radius: 30px;
  color: #ffff;
  background: linear-gradient(183deg, #9356DC, #FF79DA);
  box-shadow: 0px 0px 12px 0px grey;
  font-size: 1.5rem;
}

.titre--restau {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px 0;
}

.ctnr_plat--coeur {
  position: absolute;
  transform-origin: bottom;
  opacity: 1;
  font-size: 23px;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.ctnr_coeur--color {
  position: absolute;
  transform-origin: bottom;
  opacity: 0;
  font-size: 24px;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.fonct_ctnr--chiffre {
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 4px 9px 4px 9px;
  margin: 0 1.5rem 0 -12px;
}

/*menilmontant*/
.resto_coeur {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  right: 8%;
  font-size: 1.5rem;
  color: black;
}

.resto_coeur--color {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  right: 8%;
  font-size: 1.5rem;
}

.regreso {
  font-size: 20px;
  color: black;
}

.ctnr_plat {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 300px;
  border-radius: 1.5rem;
  box-shadow: 3px 8px 8px grey;
  margin: 0 0 3rem 0;
}

.ctnr_plat--img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.ctnr_plat--info {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  height: 74px;
  color: black;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

.fa-gradient {
  background: linear-gradient(45deg, #9356DC, #FF79DA);
}

.logo {
  text-align: center;
  font-size: 30px;
  border-bottom: 7px solid #f1f1f1;
}

.logo_img {
  width: 200px;
}

/*reservation*/
.lclst {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #fafafa;
}

.lclst_icone {
  display: inline-flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 15px 0;
}

.lclst_icone--i {
  margin-right: 10px;
}

.lclst_reserve--t {
  font-size: 24px;
  font-weight: 700;
}

.lclst_reserve--d {
  font-weight: normal;
}

/*fonctionnement*/
.fonct {
  width: 100%;
  height: 8rem;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fonct_ctnr--i {
  font-size: 20px;
  color: grey;
}

.fonct_ctnr--guide {
  font-size: 20px;
  font-weight: bold;
}

.fonct--ttr {
  font-size: 24px;
  padding-left: 45px;
  padding-top: 5px;
}

/*menilmontant*/
.carte_aff {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.titre_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carte {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  background-color: #fafafa;
  max-width: 900px;
  margin: 0px auto;
}

.diff {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.diff_catg {
  padding: 10px 0 0 3px;
  font-size: 15px;
}

.diff_catg--line {
  width: 42px;
  border-top: 3px solid #99E2D0;
  margin: 10px 0 0 0;
}

.diff_plat {
  position: relative;
  padding: 0 0 15px 0;
  width: 100%;
  height: 70px;
  margin: 1rem 0 12px 0;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px gray;
  cursor: pointer;
  overflow: hidden;
}

.diff_plat--titre {
  padding: 0 30px;
}

.diff_plat--toow {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.diff_plat--hover {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  top: 0;
  left: 100%;
  width: 20%;
  height: 100%;
  border-radius: 0 1.5rem 1.5rem 0;
  color: #ffff;
  font-size: 20px;
  transform-origin: right;
  visibility: hidden;
}

.diff_btn--box {
  text-align: center;
}

footer {
  background-color: #444343;
  text-decoration: none;
}

.ftimg {
  color: white;
}

.ftimg_contacte {
  display: flex;
  align-items: center;
  color: #fff;
}

ul {
  list-style: none;
  color: #fff;
  padding: 0;
}

.leg {
  color: #fff;
}

/*menilmontant*/
.pied {
  color: white;
}

.fa-heart {
  font-size: 50px;
}

.container {
  position: absolute;
  bottom: 5px;
  right: 24px;
  transform: translate(-50%, -50%);
}

.heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 2px white;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

/*# sourceMappingURL=style.css.map */
