/*header*/

.logo{
  text-align: center
}
.logo_img{
  width:200px ;
  height:80px ;
}

/*main*/

/*reservation*/

.lclst{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: ;
  background-color: grey;
}

/*fonctionnement*/

.Fonct{
width: 100%;
background-color:yellow;
display: flex;
flex-direction: row;
margin: 20px 0;
}
.fonct_ctnr{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

a {
  text-decoration: none;
}
.ctnr_plat{
  position: relative;
  background-color: green;
  width: 100%;
  height: 250px;
  border-radius: 1.5rem;
  
  box-shadow: 3px 8px 8px orangered;
  margin: 0 0 3rem 0;
}
.ctnr_plat--img{
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
}
/*footer*/

footer{
  background-color:brown;
  text-decoration: azure;
}

ul {
  list-style: none;
}
