
.btn{
    margin: 4rem 0 3.5rem 0;
    border-radius: 2rem;
    border: 2rem;
    box-shadow: 3px 3px 3px rgb(158, 154, 154);
    font-size: 1.6rem;
    color:white;
    padding: 0.90rem;
    background-color: #ffff;
    background-image: linear-gradient(134deg,#FF79DA,#9356DC );
  cursor: pointer;
  transition-duration: .20s;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 25%);
  &:hover{
    background-color: #ffff;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
  }
  }   
  /*fonctionnement*/
  .fonct_ctnr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    height: 35px;
    width: 290px;
    padding: 12px 0;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px grey;
    background: #fafafa;
   }

   .ctnr_plat--nv{
     border-radius: 3px;
     background-color:#99E2D0;
     position: absolute;
     top: 12px;
     right: 12px;
     color: rgb(18, 189, 55);

   }

   /*menilmontant*/

   
   
  