
.nommer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    background-color: #fff;
}
.titre--restau{
    grid-column-start: -1;
}
.plat1{
grid-column-start: 1;
grid-row-start: 1;

}
.plat2{
    grid-row-start: 1;
    grid-column-start: 2;
}
.plat3{
    grid-column-start: 1;
    grid-row-start: 2;
}
.plat4{
    grid-column-start: 2;
    grid-row-start: 2;
}