
footer{
    background-color:rgb(68, 67, 67);
    text-decoration: none;
    
  }
  .ftimg{
color: white;
  }
  .ftimg_contacte{
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  ul {
    list-style: none;
    color: #fff;
    padding: 0;
  }
  .leg{
    color: #fff;
  }
  /*menilmontant*/
  
  
