
footer{
    background-color:rgb(68, 67, 67);
    text-decoration: none;
    
  }
  .ftimg{
color: white;
margin: 0 7px;
  }
  .ftimg_contacte{
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  ul {
    list-style: none;
    color: #fff;
    padding: 0 7px;
  }
  .leg{
    color: #fff;
  }
  .fa-utensils{
    margin: 0 7px;
  }
  .fa-hands-helping{
    margin: 0 7px;
  }
  /*menilmontant*/
  
  
